.settings {
  display: flex;
  align-items: center;
  padding: 0 10px;
  border: 1px dashed red;
  border-width: 0 1px 0 0;
  .size {
    font-size: 1.7em;
  }
  .fa-cog {
    margin-right: 10px;
  }
  &__coin-type {
    padding: 0 0 0 10px;
  }
}