
* {
  box-sizing: border-box;
}

.ez-miner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 1px dashed red;
  border-width: 1px 1px 0;

  &__main {
    bottom: 50px;
    display: flex;
    position: absolute;
    top: 50px;
    width: 100%;
  }

  &__analytics {
    flex: 1;
    border: 1px dashed red;
    border-width: 0 0 1px 0;    
    overflow: auto;
  }

  .ez-analytics {
    display: flex;
    flex-wrap: wrap;
  }

  &__footer {
    align-items: center;
    border: 1px dashed red;
    border-width: 0 0 1px;
    bottom: 0;
    display: flex;
    height: 60px;
    justify-content: center;
    position: absolute;
    text-align: center;
    width: 100%;
    .powered-by-link {
      font-size: .8em;
    }
  }
}